@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body { 
    font-family: 'Poppins', sans-serif;
    
}
/* global tags */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
span  {
    font-size: .9rem;
    Color:- #757373
    }

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Navigation */

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;  /* to make all nav elements in one row */  
    flex-direction: row;
    justify-content: space-between; /*space between tags*/
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 1px; /* to give shadow effect*/
    z-index: 999;
    
}


#menu-btn {
    display: none;
}


nav img { 
    width: 200px;
    Cursor: pointer; /* to make logo clickable */

    }
nav .navigation{
    display: flex;
} 

#menu-btn {
    width: 30px;
    height: 30px;
}
    

nav .navigation ul{  /*to make changes to list of nav */
    display: flex; /*to make home about in one row */
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {  /* to make changes to list  items*/
    list-style: none; /* to remove bullets */
    margin-left: 30px;
}

nav .navigation ul li a{ /*to make changes to anchor tag */
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease; /*to make hover transition smooth */

}
nav .navigation ul li a.active,
nav .navigation ul li a:hover { /*changing hover effect */
    color: #fdc93B;
}

/* home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/section_bg01.jpg"); 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    Justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p{
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;  
} 

#home .btn{  /*for button */
    margin-top: 30px;
}
    
#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {  /*for blue button*/
    color: white;
    background: rgb(21, 21, 100); 
    transition: 0.3s ease

}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: white;
}

#home a.yellow {  /*for yellow button*/
    color: #fff;
    background: #fdc93B;
    transition: 0.3s ease;
    
}
#home a.yellow:hover {
    color: rgb(21, 21, 100);
    background: white;
    
}

/* features */
#features {
    padding: 4vw 8vw 4vw 8vw;
    text-align: center;
}

#features .fea-base{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));  /* to make this responsive*/
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background: #F9F9FF;
    text-align: start;
    
    

}

#features .fea-box img {
    width: 110px;
    
}

/* #features .fea-box #video {
    width: 150px;
}  */


  
/* #features .feabox i{
    font-size: 2.3rem;
    Color: rgb(44,44,80); 
    
    } */



#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 20px;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
    padding-left: 20px;
}

/* courses */
#course {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));  /* to make this responsive*/
    grid-gap: 1rem;
    margin-top: 50px;

}

#course .courses {
    text-align: start;
    background: #f9f9ff;
    height: 100%;
}

#course .courses img{
    width: 100%;
    background-size: cover;
    background-position: center;

    }

#course .details{
    padding-bottom: 2vw;
}

/* registration */

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: url("images/registration_bg.jpg" );
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#registration .form{
    margin-left: 750px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}

#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
    
}



#registration .form .btn {
    margin-top: 20px;

}

#registration .form a.yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background: #fdc93B;
    transition: 0.3s ease;
   
}
#registration .form a.yellow:hover {
    color: #fff;
    background: rgb(21, 21, 100);;
    }

    /* footer */
footer {
    padding: 8vw ;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}   

footer .footer-col
{  
    padding-bottom: 40;

    
}

footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
    

}

footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover {
    color: rgb(241, 240, 245);
}

footer p{
    color: #7b838a;
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

footer .subscribe a.yellow {  /*for yellow button*/
    color: #fff;
    background: #fdc93B;
    transition: 0.3s ease;
    
}
footer .subscribe a.yellow:hover {
    color: rgb(21, 21, 100);
    background: white;
    
}

footer .copyright .footer-link {
    display: flex;
    flex-direction: row;

}

footer .copyright .footer-link img {
    width: 30px;
    margin-right: 10px;
}



footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{
    color: white;
}

footer .copyright .footer-link  {
    margin-top: 0px;
}

footer .copyright .footer-link img {
    background-color: #5f7185;
    color: #fff;
}

footer .copyright .footer-link img:hover {
    background-color: #fdc93B;
    color: #2c2c2c;
    
}

/* about */
#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/about_bg.jpg"); 
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    Justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2{
    color: white;
    font-size: 5rem;
    letter-spacing: 1px;
}

#about-container {
    display: flex;
    align-items: center;
    padding: 1vw 8vw 1vw 8vw;
}

#about-container .about-img {
padding-right: 2vw;
    width: 100%;
}

#about-container .about-text {
    
    width: 90%;
    padding: 120px;
}

#about-container .about-text h2{
    color: #293038;
    padding-bottom: 35px;
}

#about-container .about-text p{
    padding-bottom: 3vw;
    color: #686F7A;
    font-weight: 300;
}

#about-container .about-text .about-fe{
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start;
}

#about-container .about-text .about-fe .fe-text{
    padding-left: 1vw;
}
#about-container .about-text .about-fe img {
    
    width: 50px;
    background-size: cover;
    background-position: center;
    
}

/* notes */
#notes-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/notes_bg.jpg"); 
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    Justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#notes-home h2{
    color: white;
    font-size: 5rem;
    letter-spacing: 1px;

}

#notes-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;


}
#notes-container .notes{
    width: 60%;

}

#notes-container .cate{
    width: 30%;

}
#notes-container .cate h2{
    padding-bottom: 7px;
}

#notes-container .cate a{
    text-decoration: none;
    color: #757373;
    font-weight: 500;
    line-height: 45px;
    
}


#notes-container .notes img{
    width: 100%;
    border-radius: 19px;


}

#notes-container .notes .post{
    padding-bottom: 60px;
}

#notes-container .notes .post h3{
    color: #293038;
    padding: 15px 0 10px 0;

    
}
#notes-container .notes .post p{
    color: #757373;
    padding-bottom: 20px;
    
}
#notes-container .notes .post a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(21,21,100) ;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;

}

#notes-container .notes01{
    width: 60%;
    margin: 0 auto;

}
 #contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}  

#contact-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/contactus.jpeg"); 
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    Justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#contact-home h2{
    color: white;
    font-size: 5rem;
    letter-spacing: 1px;

}

#contact .getin-details .contact-fe img {
    width: 70px;
}

#contact .getin-details .contact-fe {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

}

#contact .getin-details h3{
    padding-bottom: 1px;
}


#contact .getin-details .contact-fe p {
    padding-left: 10px;
    padding-top: 10px;

}
#contact .getin{
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#contact .getin .contact-follow img{
    width: 30px;
    margin-right: 10px;

}

#contact .form{
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border: radius 10px; 
}


#contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;

}

#contact .form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;

}

#contact .form .form .row{
    display:flex;
    justify-content: space-between;
    width: 100%;

}

#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px ;
    margin-bottom: 20px;


}
#contact .form .form-col input{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px ;
    margin-bottom: 20px;


}

#contact .form .form-col textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px ;
    margin-bottom: 20px;
}
#contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21,21,100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

/* video */
#video-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/vl.jpg"); 
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    Justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#video-home h2{
    color: white;
    font-size: 5rem;
    letter-spacing: 1px;

}

@media only screen and (max-width: 800px) {
    nav .navigation {
        display: none;
    }

    #menu-btn {
        display: flex;
    }

    #registration .form {
        margin-left: 100px;
    }
}